@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Rubik', sans-serif;
}
#show{
   margin: auto;
   width: 70%;
}
@media only screen and (max-width:570px) {
   #show{
      margin: auto;
      width: 100%;
   }
}
#secction{
   background-image: url('../img/loder.gif');
   width: 100%;
   height: 100vh;
   z-index: 111;
   position: absolute;
   top: 0;
   left: 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}